PUBLIC_API_BASE_URL=http://127.0.0.1:8080

BETA_AUTH_ENABLED=1
BETA_AUTH_COOKIE_NAME=wayfare_beta_auth
BETA_AUTH_SECRET=replace_me_with_a_real_secret
BETA_AUTH_SESSION_HOURS=24
BETA_AUTH_SECURE_COOKIE=0
BETA_ALLOWED_USERS=author:test123
WAYFARE_ALLOWED_ORIGINS=http://127.0.0.1:4321,http://localhost:4321
